<html>
    <head>
		<meta charset="utf-8"/>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    </head>
    <body>
        <div class="container-fluid main-container">
            <h1>Página principal</h1>
            <h2>Escoge una opción</h2>
            <a href="{{url_for('elections')}}" class="btn btn-block btn-primary">Elecciones en curso</a>
            <a href="{{url_for('tally')}}" class="btn btn-block btn-primary">Elecciones finalizadas</a>
            <a href="{{url_for('monitor')}}" class="btn btn-block btn-primary">Monitorización</a>
            <a href="{{url_for('create')}}" class="btn btn-block btn-primary disabled">Crear votación</a>
        </div>
    </body>

</html>
