<html>
    <head>
		<meta charset="utf-8"/>
        <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
        <script type=text/javascript>
              $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script>
            $(function() {
                // SOCKETS
                var socket = io('http://' + document.domain + ':' + location.port);
                socket.transport = ['websocket', 'flashsocket', 'htmlfile', 'xhr-polling', 'jsonp-polling'];
                socket.on('connect', function() {
                    $('#conn_status').html('<b>Connected!</b>');
                    socket.emit("message", "CONNECTION ESTABLISHED")
                });
                socket.on('error', function() {
                    $('#conn_status').html('<b>Error</b>');
                });
                socket.on('disconnect', function() {
                    $('#conn_status').html('<b>Closed</b>');
                });
                socket.on('message', function(msg) {
                    $("#placeholder").html("<b>" + JSON.stringify(msg) + "</b>")
                });
                socket.on('json', function(msg) {
                    $("#placeholder").html("<b>" + JSON.stringify(JSON.parse(msg), space="\t") + "</b>")
                });

                // AJAX

                //alert($SCRIPT_ROOT);
                $("#voting").submit(function(event) {
                    // TODO: En un futuro url_for dará problemas, ya que no es dinámico
                    $.post('{{ url_for("send") }}',
						{election_id: $('input[name="election-id"]').val()},
						function(data) {
							alert("POST" + JSON.stringify(data));
						},
                        'json'
                    ).done(function() {alert("POST done!")});
                });

            });
            function handleForm() {
                console.log("form handled ;^)");
            }
		</script>
    </head>
    <body>
        <h1>HOLITAS</h1>
        <div id="conn_status">Not Connected</div>
        <div id="placeholder" style="width:600px;height:300px;font-size:110%;"></div>
        <div id="form">
            <form id="voting" action="javascript:handleForm()">
                Election id: <input type="text" name="election-id"><br>
                Option id: <input type="text" name="option-id"><br>
                <input type="submit" value="Votar">
            </form>
        </div>
    </body>

</html>
