<html>
    <head>
		<meta charset="utf-8"/>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    </head>
    <body>
        <div class="container-fluid main-container">
          <h1>Resultados para:</h1>
          <h1>{{ election }}</h1>

          {% if not tally %}
          <h3 class="alert alert-critical">
            ¡Pues vaya! Parece que esta votación no fue muy popular, nadie votó en ella. :(
          </h3>
          {% endif %}
          <ul>
          {% for option, result in tally %}
            <li>{{option}}: {{result}}</li>
          {% endfor %}
          </ul>
          Para volver a la pantalla principal, por favor haga click aquí:
          <a href="{{ url_for('index') }}" class="btn btn-block btn-primary" role="button">MENU PRINCIPAL</a>

        </div>
    </body>
</html>
